#splatterCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ccc;
  z-index: 0;
}

#user-profile-view {
  z-index: 1;
}

.sl-bg {
  background-color: rgba(0,0,0,0);
}

h1.sl-headline, h3.sl-subtitle {
  color: #000;
}

.sl-subtitle {
  text-shadow:
    -2px -2px 0 #fff,
     2px -2px 0 #fff,
    -2px  2px 0 #fff,
     2px  2px 0 #fff;;
}